<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">菜单</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <div class="item item-divider item-icon-left">
          <i class="icon ion-clipboard" style="font-size: 24px"></i>
          账单查询
        </div>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/bill_week">
          <i class="icon ion-pricetag" style="font-size: 24px"></i>
          上周
        </ion-item >
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/search">
          <i class="icon ion-pricetags" style="font-size: 24px"></i>
          上月
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/search">
          <i class="icon ion-card" style="font-size: 24px"></i>
          所有
        </ion-item>
        <div class="item item-divider item-icon-left">
          <i class="icon ion-person" style="font-size: 24px"></i>
          会员详情
        </div>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/search">
          <i class="icon ion-stats-bars" style="font-size: 24px"></i>
          储值余额
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/browse">
          <i class="icon ion-waterdrop" style="font-size: 24px"></i>
          会员积分
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/playlists">
          <i class="icon ion-home" style="font-size: 24px"></i>
          会籍查询
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
